<div class="container" appLazyScroll (isBottom)="loadMore()">
  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Type:</mat-label>
      <mat-select #rarity (selectionChange)="selectChanged(rarity.value)">
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor="let rarity of rarities$ | async" [value]="rarity.id">{{rarity.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="search">
      <mat-label>Search</mat-label>
      <input matInput #search (keyup)="searchStart(search.value)">
    </mat-form-field>
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let card of cards">
      <span>{{card.name}} ({{card.amount}})</span>
      <div class="image-container">
        <img [src]="card.image.url" [class.not-owned]="card.amount === 0" width="245" height="342" appLazyLoadImage (click)="viewCard(card.id)">
      </div>
    </div>
  </div>
</div>
