<!--<virtual-scroller class="view-port" #scroll [items]="orders" [parentScroll]="scroll.window" (vsEnd)="nextPage($event)">-->
<!--</virtual-scroller>-->
<div class="container" appLazyScroll (isBottom)="nextPage()">
  <div class="card-container">
    <div class="card" *ngFor="let order of orders" (click)="buyOrder(order)">
      <span>{{order.card.name}}</span>
      <div class="image-container">
        <img [src]="order.card.smallImage.url" class="card-image" appLazyLoadImage>
      </div>
      <span>{{order.price | currency: 'EUR'}}</span>
    </div>
  </div>
  <div *ngIf="loading" class="loader">Loading...</div>
</div>
