<div class="card" *ngIf="card$ | async as card">
  <ng-container [class.loading]="!imageLoaded">
    <div class="table-container">
      <table class="mat-table">
        <tbody>
          <tr class="mat-row">
            <td class="mat-cell">Name:</td>
            <td class="mat-cell">{{card.name}}</td>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Amount owned:</td>
            <td class="mat-cell">{{card.amount}}</td>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Rarity:</td>
            <td class="mat-cell">{{card.rarity.name}}</td>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Price:</td>
            <td class="mat-cell">{{card.price |currency: 'EUR'}}</td>
          </tr>
        </tbody>
      </table>
      <div class="spacer"></div>
      <div class="sell-options" *ngIf="card.amount > 0">
        <button mat-flat-button (click)="sell(card.id)">Sell on market</button>
        <button mat-button (click)="quickSell(card.id, 1)">Quick sell</button>
        <button mat-button (click)="quickSell(card.id, card.amount)">Quick sell all</button>
      </div>
    </div>
    <div class="image-container">
      <img class="card-image" [src]="card.largeImage.url" (load)="showInfo()">
    </div>
  </ng-container>
</div>
<div class="spinner-container">
  <mat-spinner *ngIf="!imageLoaded"></mat-spinner>
</div>
