img {
  //max-height: 500px;
  //max-width: 70px;
}

.card > .loading {
  visibility: hidden;
}

.info-container {
  display: flex;
}

.table-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .spacer {
    flex: 1;
  }

  .quick-sell {
    display: flex;
    justify-content: flex-end;

    .all {
      margin-right: 1rem;
    }
  }
}
.image-container {
  width: 50%;

  img {
    width: 100%;
  }
}
.spinner-container {
  display: flex;
  justify-content: center;
}
