.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pack-open-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;

  .card {
    position: absolute;
    min-width: 245px;
    min-height: 342px;
    cursor: pointer;
    user-select: none;

    &:first-child {
      z-index: 2;
    }

    &:not(:first-child):not(.is-next-card) {
      visibility: hidden;
    }
  }
}

.pack-overview-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 25px;

  @media (min-width: 490px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    justify-content: center;
  }
}
.next-pack {
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
